* {
    text-align: center;
    background-color: #252527;
    color: #ffffff;
    font-family: sans-serif;
}

h1 {
    font-family: Lexend, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10%;
    font-size: 2em;
}

button {
    color: #ffffff;
    font-weight: bold;
    border: none;
    background-color: #64A70B;
    padding: 1%;
    border-radius: 15px;
}

button:hover {
    background-color: #558910;
}

#projectDisplay {
    font-size: larger;
    display: inline-block;
    margin-top: 5%;
}

#extraDisplay {
    font-size: larger;
    display: inline-block;
    margin-top: 5%;
}

footer {
    position: relative;
    margin-top: 5%;
    font-size: .9em;
}
